body,
html,
#root {
  height: 100%;
}

.AppLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.AppLayoutHeader {
  padding: 1rem;
  font-size: 1.4em;
  background-color: #7e6858;
  color: white;
}

.AppLayoutMain {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.AppLayoutFooter {
  padding: 1rem;
  background-color: #7e6858;
  color: white;
}

.App {
}

.Loading {
  margin-top: 100px;
  text-align: center;
  font-weight: normal;
}
